body
{
    /* fonts */
    font-family: "Avenir Next", sans-serif;
    font-weight: lighter;
    color: white;

    /* backgrounds */
    background-color: #232323;
    margin: 0;
}

a
{
    /* fonts */
    color: white;
    font-weight: normal;
}

a:hover
{
    /* fonts */
    color: white;
}

audio
{
    /* sizing */
    width: 100%;
}

.jumbotron
{
    /* backgrounds */
    background: none;
    overflow: hidden;
}

#album_art
{
    /* sizing */
    width: 100%;
    height: 400px;

    /* positioning */
    position: absolute;
    left: 0px;
    top: -125px;
    z-index: -1000;

    /* background */
    background-image: url("../img/album_art.svg");
    background-size: cover;
    background-repeat: no-repeat;

    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    opacity: 0.2;
}

.social-link img
{
    /* sizing */
    width: 25px;
}

#episodes
{
    /* positioning */
    margin: 0px;
    margin-top: -55px;
}

.episode:nth-child(even)
{
    /* backgrounds */
    background-color: #1F9FFD;

    /* positioning */
    padding: 25px;
}

.episode:nth-child(odd)
{
    /* backgrounds */
    background-color: #FF6862;

    /* positioning */
    padding: 25px;
}
