body
{
    /* fonts */
    font-family: "Avenir Next", sans-serif;
    font-weight: lighter;
    color: white;

    /* backgrounds */
    background-color: #232323;
    margin: 0;
}

a
{
    /* fonts */
    color: white;
    font-weight: normal;
}

a:hover
{
    /* fonts */
    color: white;
}

.jumbotron
{
    /* backgrounds */
    background: none;

}

#album_art
{
    /* sizing */
    width: 200px;
    height: 200px;

    /* positioning */
    position: absolute;
    right: 55px;
    top: 30px;
}

@media (max-width: 768px) {
    #album_art
    {
        display: none;
    }
}

.social-link img
{
    /* sizing */
    width: 25px;
}

#episodes
{
    /* positioning */
    margin: 0px;
    margin-top: -55px;
}

.episode:nth-child(even)
{
    /* backgrounds */
    background-color: #1F9FFD;

    /* positioning */
    padding: 25px;
}

.episode:nth-child(odd)
{
    /* backgrounds */
    background-color: #FF6862;

    /* positioning */
    padding: 25px;
}
