<html>
    <head>
        <title>Office Hours</title>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="static/css/index.css"/>
    </head>
    <body>
        <div class="content">
            <div id="album_art"/>
            <div class="links">
                <a href="http://twitter.com/OfficeHoursAM" target="_blank"><span class="link" id="twitter"/></a>
                <a href=""><span class="link" id="itunes"/></a>
                <a href="http://reddit.com/r/OfficeHoursAM" target="_blank"><span class="link" id="reddit"/></a>
            </div>
        </div>
    </body>
</html>
